#################
## Eclipse
#################

*.pydevproject
.project
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#################
## Android
#################

bin/classes/
bin/dexedLibs/
bin/res/
bin/AndroidManifest.xml
bin/classes.dex
bin/jarlist.cache
bin/R.txt
bin/resources.ap_
gen/
libs/
project.properties